html,
body {
  background-color: #fcfcfc;
  font-family: "Open Sans";
}

h2 {
  text-align: center;
}

p {
  color: #0e1e25;
}

.favorite-list {
  list-style: disc;
}

a {
  text-decoration: none;
}

.list-text {
  font-weight: bold;
}

li {
  padding: 0 0 40px 0;
}

.favorite-list li {
  padding: 0;
}
